@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');

.navigation {
  background-color: rgba(0, 0, 0, 0.144);
  height: 90px;
  box-shadow: 5px 5px #161515b4;
}
body {
  background-color: rgb(109, 177, 241);
}
h1, h2, p, ul, li {
  font-family: 'Bungee Hairline';
}
ul.header li {
  display: inline;
  list-style-type: none;
}
ul.header {
  position: fixed;
  right: 0;
  margin: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 25px;
}
ul.header li a:hover {
  animation-name: expand;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.content {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 25%;
}
.content h2 {
  color:#FFF
}
.content p {
  font-weight: bold;
}
ul.skills li {
  list-style-type: none;
  font-weight: bold;
  display: list-item;
}
.active {
  background-color: rgb(0, 0, 0);
}
img:hover {
  animation-name: expand;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
@keyframes expand {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5, 1.5);
    opacity: 0.25;
  }
}
@media screen and (max-width: 510px ) {
  ul.header li {
    display: none;
  }
}