@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');

body {
  background-color: rgb(109, 177, 241);
  font-family: 'Bungee Hairline';
  animation: fadein 1s;
}
ul.header {
  background-color: rgba(0, 0, 0, 0.144);
  box-shadow: 0 4px 8px #00000030;
  position: fixed;
  text-align: right;
  top: -15px;
  right: 0;
  width: 100%;
  height: 90px;
}
ul.header li {
  display: inline;
  list-style-type: none;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 25px;
}
ul.header li a:hover {
  animation-name: expand;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.burger-menu,
.burger-menu.open {
  display: inline-block;
  cursor: pointer;
  position: fixed;
  left: 20px;
  top: 20px;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 0 1px 4px #00000030;
}
.burger-menu:hover {
  background: rgba(0, 0, 0, 0.801);
}
.burger-menu .topBar,
.midBar,
.botBar {
  width: 25px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.808);
  border-radius: 25px;
  margin: 3.5px;
  padding: 0.5px;
}
ul.menu {
  background-color: rgba(0, 0, 0, 0.144);
  box-shadow: 0 4px 8px #00000030;
  position: fixed;
  padding: 10px;
  left: 90px;
}
ul.menu li {
  list-style-type: none;
  font-weight: bold;
  text-align: center;
}
ul.menu li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
}
ul.menu li a:hover {
  background: #00000030;
}
.license {
  position: fixed;
  bottom: 0;
  right: 0;
}
.license img:hover {
  animation-name: none;
}
.content {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 25%;
}
.content h2 {
  box-shadow: 0 4px 8px #00000030;
  color:#FFF;
}
.content p {
  font-weight: bold;
}
ul.skills li {
  position: relative;
  list-style-type: none;
  font-weight: bolder;
  text-align: start;
  font-size: 90%;
  margin: 10px;
}
.experience-bar {
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 4px solid rgba(51, 51, 51, 0.658);
  position: absolute;
  font-weight: bold;
}
.progress {
  background: rgba(44, 44, 44, 0.411);
  height: 100%;
  border-radius: inherit;
}
.active {
  background-color: rgba(0, 0, 0, 0.801);
}
img:hover {
  animation-name: expand;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes expand {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5, 1.5);
    opacity: 0.25;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 520px ) {
  ul.header li {
    display: none;
  }
  .license {
    display: none;
  }
}
/*
@media screen and (min-width: 520px ){
  .burger-menu,
  .burger-menu.open{
    display: none;
  }
}
*/