@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');

.navigation{
  background-color: rgba(0, 0, 0, 0.144);
  height: 106px;
}
body {
  background-color: rgb(109, 177, 241);
  margin: -16px;
}
h1, h2, p, ul, li {
  font-family: 'Bungee Hairline';
}
ul.header li {
  display: inline;
  list-style-type: none;
}
ul.header {
  position: fixed;
  right: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 25px;
}
.content {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 25%;
}
.content h2 {
  color:#FFF
}
.content p {
  font-weight: bold;
}
.active {
  background-color: rgb(0, 0, 0);
}
@media screen and (max-width: 510px ) {
  ul.header li {
    display: none;
  }
}