@import url('https://fonts.googleapis.com/css?family=Bungee+Hairline');

body {
  background-color: rgb(109, 177, 241);
}
h1, h2, p, ul, li {
  font-family: 'Bungee Hairline';
}
ul.header li {
  display: inline;
  list-style-type: none;
}
ul.header {
  background-color: rgba(0, 0, 0, 0.144);
  box-shadow: 0 4px 8px #00000030;
  position: fixed;
  text-align: right;
  top: -15px;
  right: 0;
  width: 100%;
  height: 90px;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 25px;
}
ul.header li a:hover {
  animation-name: expand;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
.content {
  text-align: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 25%;
}
.content h2 {
  box-shadow: 0 4px 8px #00000030;
  color:#FFF;
}
.content p {
  font-weight: bold;
}
ul.skills li {
  list-style-type: none;
  font-weight: bold;
  text-align: left;
}
.active {
  background-color: rgba(0, 0, 0, 0.801);
}
img:hover {
  animation-name: expand;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.experience-bar {
  position: relative;
  height: 20px;
  width: 350px;
  border-radius: 50px;
  border: 3px solid rgba(51, 51, 51, 0.658);
}
.progress {
  background: rgba(44, 44, 44, 0.411);
  height: 100%;
  border-radius: inherit;
}
@keyframes expand {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5, 1.5);
    opacity: 0.25;
  }
}
@media screen and (max-width: 470px ) {
  ul.header li {
    display: none;
  }
}